.banner {
  background: linear-gradient(0deg, rgba(65,191,239,0.9) 19%, rgba(0,90,156,0.9) 100%);
  padding: 123px 15px 0 15px;
  // position: relative;
  
  
  p {
    color: #87DDFF;
    font-size: 20px;
    width: 285px;
    font-weight: 600;
    line-height: 150%;
    margin: 0 0 31px 0;
    
  }

  h1 {
    margin: 0;
    color: #fff;
    line-height: 150%;
    font-weight: 700;
    margin-bottom: 50px;
  }

  .banner__img {
    width: 100%;
    height: auto;
    margin-left: -15px;
    bottom: 0;
    right: 0;
  }
}