$padding: 15px;

.features  {
    margin-bottom: 40vh;
    padding: 150px $padding 0 $padding;
    text-align: center; 
    @include for-desktops {
        margin-bottom: 0;
    }

    & h2 {
        color: rgba(12, 58, 96, 0.8);
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 64px;

        @include for-desktops {
            font-size: 36px;
            font-weight: 700;
        }
    }

    & .features__main-img {
        margin-bottom: 82px;
    }

    & section {
        position: relative;
        box-sizing: border-box;
        background-color: #CCF0FF;
        padding: 65px $padding 150px $padding;
        margin-left: -$padding;
        width: 100vw;
        @include for-desktops {
            @supports (display: grid) {
                width: 754px;
            }
        }
    }

    & section h3 {
        color: rgba(0, 90, 156, 0.9);
        font-weight: 600;
        font-size: 24px;
        margin: 0;
        margin-bottom: 40px;
    } 

    & section ul {
        text-align: left;
        padding: 0;
        margin: 0;
        list-style: none;
        max-width: 430px;
        margin-left: auto;
        margin-right: auto;
    }

    & section li {
        padding-left: 35px;
        font-size: 18px;
        font-weight: 500;
        color: rgba(0, 90, 156, 0.9);
        margin-bottom: 28px;
        position: relative;
    }

    & section li::before {
        position: absolute;
        content: "\f005"; /* FontAwesome Unicode */
        font-family: 'Font Awesome 5 Free';
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        background-color: #fff;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-size: 11px;
        color: rgba(0, 90, 156, 1);
    }

    & .features__second-img {
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 250px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        @include for-desktops {
            display: none;
        }

        & img {
            width: 100%;
        }
    }
}

@include for-desktops{
    @supports (display: grid) {
        #features__grid-container {
            display: grid;
            grid-template-columns: 5fr 2fr 1fr 2fr 2fr;
            max-width: 1140px;
            margin-left: auto;
            margin-right: auto;
        }
    
        .features__main-img {
            margin-bottom: 82px;
            grid-column: 3 / span 2;
            grid-row: 1/ span 2;
            width: 100%;
            z-index: 2;
        }

        .features section {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1;
        }
    
        .features__grid-second-img {
            grid-column: 2 / span 2;
            grid-row: 3 / span 1;
            width: 400px;
            height: 400px;
            transform: translateY(-120px);
            z-index: 2;
        }
    }
}

.features__grid-second-img {
    @include for-mobiles {
        display: none;
    }
}