.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

.wrapper-banner {
  @include for-desktops {
    display: flex;
  }
}

.about-wrapper   {
  padding: 2rem;
  @include for-sm-mobiles {
    padding: 2.5rem;
  }
  @include for-big-mobiles {
    padding: 3rem;
  }
}